.outlineButton{
    color: var(--violet, #C689C6);
    font-size: 14px;
    font-weight: 400;
    line-height: 20.028px; /* 143.056% */
    height: 40px;
    padding: 10.014px;
    gap: 10.014px;
    border-radius: 3.004px;
    border: 1.001px solid var(--violet, #C689C6);
    background-color: white;
    cursor: pointer;
}
.lineButton{
    color: var(--White, #FFF);
    font-size: 16.022px;
    font-weight: 500;
    line-height: 24.033px; /* 150% */
    height: 45px;
    padding: 12.017px 32.044px;
    gap: 10.014px;
    border-radius: 2.003px;
    background: var(--Primary, #937DC2);
    border:none;
    cursor: pointer;
}
