.selectedCard{
    min-width: 280px; 
}
.selectedCardImg img{
    width: 100%;
    height: 372px; 
}.selectedCardSection2{
    padding-top:5px;
    display: flex;
    flex-direction: column;
    gap:12px
}
.selectedCardAuthor p{
    color: var(--Black, #0F0F0F);
    font-size: 15px;
    font-weight: 600;
    line-height: 24.033px; /* 160.222% */
}
.selectedCardIcons{
    display: flex;
    justify-content: space-between;
}
.selectedCardIcons p{
    color: var(--Black, #0F0F0F);
    font-size: 14px;
    font-weight: 500;
    line-height: 24.033px; /* 171.667% */
}
.selectedCardIcons .stars{
    display: flex;
    gap:6px;
}
.selectedCardIcons .pages{
    display: flex;
    gap:6px;
}
.selectedCardDetails a{
  padding: 8px;
  height: 40px;
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 500;
  line-height: 24.033px;
  border-radius: 2.003px;
  background: var(--Primary, #937DC2);
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
}
.selectedCardDetails a:hover{
    background-color:#FFF ;
    color: #937DC2;
    border: 1px solid #937DC2
}